.find{
    &__flex{
        display: flex;
        column-gap: 20px;
        min-height: 47px;
    }

    &__input{
        height: 100%;
        width: initial;

        &_w{
            width: 579px;
        }
    }

    &__select{
        width: 395px;
        padding-block: 13px;
        height: 100%;

        &_w{
            width: 461px;
        }
    }

    &__btn{
        height: 53.33px;
    }
}