.my-container{
}

.main-sec__bg {
    background-size: cover;
    min-height: 657px;
}

.main-sec__bg2 {
    background-position: 70% 70%;
    min-height: 657px;
}

.main-sec__bg3 {
    background-position: 50% 50%;
    min-height: 657px;
}

.main-sec__bg4 {
    background-position: 38% 50%;
    min-height: 657px;
}

.main-sec__bg5 {
    background-position: 50% 50%;
    min-height: 657px;
}

.main-sec__bg6 {
    background-position: 60% 0%;
    min-height: 657px;
}

.main-sec__bg7 {
    background-position: 20% 0;
    min-height: 657px;
}

.main{
    &__flex{
        margin-bottom: 90px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1236px;
        margin-top: 52px;

        &-last{
            display: flex;
            justify-content: space-between; 
            max-width: 1236px;
            margin: auto;
        }

        &-his{
            display: flex;
            justify-content: space-between;
            max-width: 1236px;
            margin: auto;
            margin-top: 51px;
            margin-bottom: 46px;
        }

        &-build{
            display: flex;
            max-width: 1235px;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 45px;
        }
    }
}

.what{
    &__flex{
        align-items: start;
        justify-content: start;
    }

    &__h2{
        margin-bottom: 35px;
    }

    &__p{
        line-height: 30px;
    }

    margin-bottom: 58px;
}

.fixed{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    box-shadow: 9px 9px 12px 0px rgba(0, 0, 0, .19);
}

.nav-mob__wrapper-svg{
    &:hover {
            cursor: pointer;
        }
}

.scroll-item{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s, transform 0.4s ease-in-out;
}

.anim-class{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s, transform 0.4s ease-in-out;
}



.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 29px;
    height: 33px;
    font-size: 0;
}

.slick-prev{
    left: 31px;
    background: var(--#{$prefix}color-border) url("../../../images/arr-prev.svg") no-repeat;
    background-position: 50% 50%;
}

.slick-next{
    right: 31px;
    background: var(--#{$prefix}color-border) url("../../../images/arr-next.svg") no-repeat;
    background-position: 50% 50%;
}