.table{
   min-width: 307px;
   margin: 0;
   padding: 0;
   min-height: 100%;

   &-t{
    margin-bottom: 0;
   }

   &__td{
    &-1{
        padding-left: 42px;
        padding-block: 22.5px;
    }
   }
}