.find{
    padding-inline: 16px;
    &__flex-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__input{
        width: 100%;
        border: 1px solid var(--#{$prefix}color-border);
        margin-bottom: 15px;
        outline: none;
        padding-block: 15px 16px;
        padding-inline: 22px;

        &::placeholder{
            font-size: 18px;
        }
    }

    &__select{
        width: 100%;
        border: 1px solid var(--#{$prefix}color-border);
        outline: none;
        margin-bottom: 20px;
        padding-block: 15px 16px;
        padding-inline: 22px;
        color: var(--#{$prefix}color-h2);
        font-size: 18px;
        
        &>*{
            display: block;
        }

        // &::after{
        //     content: "";
        //     background: url("../../../images/Polygon.svg") no-repeat;
        //     height: 19px;
        //     width: 13px;
        //     display: inline-block;
        // }
    }

    &__btn{
        padding: 9px 30px;
        background: var(--#{$prefix}color-border);
        margin-bottom: 37px;
        color: var(--#{$prefix}color-white);
        font-family: var(--#{$prefix}font-playfair);
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.8px;
        text-transform: uppercase;

        &-back{
            width: 100%;
            padding-block: 12px;
            padding-right: 60px;
            padding-left: 52px;
            margin-bottom: 20px;
            background: var(--#{$prefix}color-border);
            position: relative;

            &::before{
                content: "";
                position: absolute;
                background: url("../../../images/back.svg") no-repeat;
                width: 25px;
                height: 25px;
                left: 14px;
                display: inline-block;

            }

            &-a{
                color: var(--#{$prefix}color-white);
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    &__btns{
        display: flex;
    }

    &__pag{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 42px;
        background: var(--#{$prefix}color-bg-pag);
        margin-right: 4px;
        border-radius: 3px;
        color: var(--#{$prefix}color-h2);
    }
    margin-bottom: 38px;
}


.active{
    background: var(--#{$prefix}color-h2);
    color: var(--#{$prefix}color-white);
}