.my-container{
}

.main-sec__bg2{
   @include bg(url("../../../images/sec-main.png"))
}

.main-sec__bg3 {
   @include bg(url("../../../images/region-foto.png"));
   background-position: 50% 50%;
}

.main-sec__bg4 {
   @include bg(url("../../../images/second.png"));
   background-position: 38% 50%;
}

.main-sec__bg5 {
   @include bg(url("../../../images/rent.png"));
   background-position: 50% 50%;
}

.main-sec__bg6 {
   @include bg(url("../../../images/earth.png"));
   background-position: 60% 0%;
}

.main-sec__bg7 {
   @include bg(url("../../../images/contact.png"));
   background-position: 70% 0;
}

.what{
   padding-inline: 27px 20px;
   line-height: 25px;
   margin-bottom: 28px;

   &__flex{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__h2{
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 40px;
   }
}